# WEB SCRAPING ASSIGNMENT - 4

Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of your choice.

You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get 
information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:

# Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

# You need to find following details:

# A) Rank B) Name C) Artist D) Upload date E) Views

In [1]:
# Let's first install the selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\sudhanshu kumar\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\sudhanshu kumar\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [3]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
url_1 = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/¶"
driver.get(url_1)

In [5]:
# Finding the search button using the xpath
search_button = driver.find_element_by_xpath("//a[@class='external text']")

# Clicking the search button
search_button.click()

In [6]:
# Finding the list search button using xpath
list_search = driver.find_element_by_xpath("//ul[@class='mw-search-results']/li[1]/div/a")

# Clicking the list search button
list_search.click()

In [8]:
# First, Let's create an empty lists to store the scraping data

Rank = []
Name = []
Artist = []
UploadDate = []
Views = []

In [9]:
# Finding the element for rank using xpath
rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)

# Finding the element for name using xpath 
name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for i in name:
    Name.append(i.text)

# Finding the element for artist using xpath
artist = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for i in artist:
    Artist.append(i.text)

# Finding the element for view using xpath
view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for i in view:
    Views.append(i.text)

# Finding the element for date using xpath
date = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for i in date:
    UploadDate.append(i.text)

In [12]:
# Import pandas as pd
ques_1 = pd.DataFrame({})
ques_1["Rank"] = Rank[0:30]
ques_1["Video Name"] = Name[0:30]
ques_1["Artist"] = Artist[0:30]
ques_1["Upload Date"] = UploadDate[0:30]
ques_1["Views (Billions)"] = Views[0:30]
ques_1.index+=1

# Details of most viewed videos on YouTube from Wikipedia
ques_1

,Rank,Video Name,Artist,Upload Date,Views (Billions)
1,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.44
2,2.,"""Despacito""[25]",Luis Fonsi,"January 12, 2017",7.57
3,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.77
4,4.,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017",5.48
5,5.,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015",5.28
6,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.55
7,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.52
8,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.46
9,9.,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014",4.32
10,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,"March 6, 2014",4.22
11,11.,"""Gangnam Style""[36]",Psy,"July 15, 2012",4.21
12,12.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.63
13,13.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.56
14,14.,"""Sorry""[40]",Justin Bieber,"October 22, 2015",3.47
15,15.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.44
16,16.,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.41
17,17.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.34
18,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.29
19,19.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",3.15
20,20.,"""Faded""[46]",Alan Walker,"December 3, 2015",3.15
21,21.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.14
22,22.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.10
23,23.,"""Bailando""[49]",Enrique Iglesias,"April 11, 2014",3.10
24,24.,"""Shake It Off""[50]",Taylor Swift,"August 18, 2014",3.10
25,25.,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.09
26,26.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",3.03
27,27.,"""Mi Gente""[53]",J Balvin,"June 29, 2017",2.99
28,28.,"""Perfect""[54]",Ed Sheeran,"November 9, 2017",2.97
29,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010",2.96
30,30.,"""Hello""[56]",Adele,"October 22, 2015",2.89

# Q2. Scrape the details team India’s international fixtures from bcci.tv.

# Url = https://www.bcci.tv/.

# You need to find following details:

# A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

# Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [13]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [14]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [15]:
url_2 = "https://www.bcci.tv/"
driver.get(url_2)

In [21]:
# Finding the element for international fixture using xpath
inter_fix = driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")

# Getting the url of the international fixture
driver.get(inter_fix.get_attribute('href'))

In [22]:
# First, Let's create an empty lists to store the scraping data

MatchTitle = [] 
Series = []
Place = [] 
Date = [] 
Time = []

In [24]:
# Finding the elements for title using xpath
title = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
for i in title:
    MatchTitle.append(i.text)

# Finding the elements for series using xpath
series = driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")
for i in series:
    Series.append(i.text)

# Finding the elements for place using xpath
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)

# Finding the elements for date and month using xpath
date = driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong")
for i in date:
    Date.append(i.text)

# Finding the elements for time using xpath
time = driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for i in time:
    Time.append(i.text)

In [27]:
# Import pandas as pd
ques_2 = pd.DataFrame({})
ques_2["Match Title"] = MatchTitle[:20]
ques_2["Series"] = Series[:20]
ques_2["Place"] = Place[:20]
ques_2["Date"] = Date[:20]
ques_2["Time"] = Time[:20]
ques_2.index+=1

# Details of team India’s international fixtures from bcci.tv
ques_2

,Match Title,Series,Place,Date,Time
1,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",24OCTOBER,19:30 IST
2,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",31OCTOBER,19:30 IST
3,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",03NOVEMBER,19:30 IST
4,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",05NOVEMBER,19:30 IST
5,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",08NOVEMBER,19:30 IST
6,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",17NOVEMBER,19:00 IST
7,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",19NOVEMBER,19:00 IST
8,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",21NOVEMBER,19:00 IST
9,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",25NOVEMBER,09:30 IST
10,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",03DECEMBER,09:30 IST
11,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",17DECEMBER,13:30 IST
12,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",26DECEMBER,13:30 IST
13,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",03JANUARY,13:30 IST
14,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",11JANUARY,14:00 IST
15,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14JANUARY,14:00 IST
16,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",16JANUARY,14:00 IST
17,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",19JANUARY,19:30 IST
18,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",21JANUARY,19:30 IST
19,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",23JANUARY,19:30 IST
20,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",26JANUARY,19:30 IST

# Q3. Scrape the details of selenium exception from guru99.com.

# Url = https://www.guru99.com/

# You need to find following details:
# A) Name
# B) Description
# Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [28]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [29]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [30]:
url_3 = "https://www.guru99.com/"
driver.get(url_3)

In [31]:
# Finding the element for selenium exception page using xpath 
sel = driver.find_element_by_xpath("//div[@class='srch']/span[8]/a")

# Clicking on the selenium exception page
sel.click()

In [32]:
# Finding the lement for selenium exception tutorial link using xpath
sel_tut = driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a")

# Clicking on the selenium exception tutorial
sel_tut.click()

In [33]:
# First, Let's create an empty lists to store the scraping data

Name = []
Description = []

In [35]:
# Finding the elements for name using xpath
name = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    Name.append(i.text)

# Finding the elements for description using xpath
description = driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in description:
    Description.append(i.text)

In [37]:
# Import pandas as pd
ques_3 = pd.DataFrame({})
ques_3["Exception Name"] = Name
ques_3["Description"] = Description
ques_3.index+=1

# Details of selenium exception from guru99.com
ques_3

,Exception Name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# Q4. Scrape the details of State-wise GDP of India from statisticstime.com.
# Url = http://statisticstimes.com/
# You have to find following details:
# A) Rank
# B) State
# C) GSDP at current price (19-20)
# D) GSDP at current price (18-19)
# E) Share(18-19)

# F) GDP($ billion)

# Note: - From statisticstimes home page you have to reach to economy page through code.

In [1]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
url_4 = "http://statisticstimes.com/"
driver.get(url_4)

In [4]:
# Finding the element for economy and then on India using xpath
Economy_India = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")

# Selecting the economy India 
driver.get(Economy_India.get_attribute('href'))

In [5]:
# Finding the element for GDP of Indian states using xpath 
GDP_Indian_States = driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a")

# Selecting the GDP Indian States
driver.get(GDP_Indian_States.get_attribute('href'))

In [6]:
# First, Let's create an empty lists to store the scraping data

Rank = [] 
State = [] 
GSDP_Year_2019_to_Year_2020 = [] 
GSDP_Year_2018_to_Year_2019 = [] 
Share_Year_2018_to_2019 = [] 
GDP_Dollar_Billion = []

In [7]:
# Finding the elements for rank using xpath
rank = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    Rank.append(i.text)

# Finding the elements for state using xpath
state = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    State.append(i.text)

# Finding the elements for GSDP using xpath
gsdp_19_20 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for i in gsdp_19_20:
    GSDP_Year_2019_to_Year_2020.append(i.text)

# Finding the elements for GSDP using xpath
gsdp_18_19 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for i in gsdp_18_19:
    GSDP_Year_2018_to_Year_2019.append(i.text)

# Finding the element for share using xpath 
share = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    Share_Year_2018_to_2019.append(i.text)

# Finding the element for GDP using xpath
gdp_dollar = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp_dollar:
    GDP_Dollar_Billion.append(i.text)

In [9]:
# Import pandas as pd
ques_4 = pd.DataFrame({})
ques_4["Rank"] = Rank 
ques_4["State"] = State
ques_4["GSDP (Cr INR at Current prices) Year 2019-2020"] = GSDP_Year_2019_to_Year_2020
ques_4["GSDP (Cr INR at Current prices) Year 2018-2019"] = GSDP_Year_2018_to_Year_2019 
ques_4["Share Year 2018-2019"] = Share_Year_2018_to_2019 
ques_4["GDP ($ Billion)"] = GDP_Dollar_Billion
ques_4.index+=1

# Details of State-wise GDP of India from statisticstime.com
ques_4

,Rank,State,GSDP (Cr INR at Current prices) Year 2019-2020,GSDP (Cr INR at Current prices) Year 2018-2019,Share Year 2018-2019,GDP ($ Billion)
1,1,Maharashtra,-,"2,632,792",13.94%,399.921
2,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
3,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
4,4,Gujarat,-,"1,502,899",7.96%,228.290
5,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
6,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
7,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
8,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
9,9,Telangana,"969,604","861,031",4.56%,130.791
10,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
11,11,Kerala,-,"781,653",4.14%,118.733
12,12,Delhi,"856,112","774,870",4.10%,117.703
13,13,Haryana,"831,610","734,163",3.89%,111.519
14,14,Bihar,"611,804","530,363",2.81%,80.562
15,15,Punjab,"574,760","526,376",2.79%,79.957
16,16,Odisha,"521,275","487,805",2.58%,74.098
17,17,Assam,-,"315,881",1.67%,47.982
18,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
19,19,Jharkhand,"328,598","297,204",1.57%,45.145
20,20,Uttarakhand,-,"245,895",1.30%,37.351
21,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
22,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
23,23,Goa,"80,449","73,170",0.39%,11.115
24,24,Tripura,"55,984","49,845",0.26%,7.571
25,25,Chandigarh,-,"42,114",0.22%,6.397
26,26,Puducherry,"38,253","34,433",0.18%,5.230
27,27,Meghalaya,"36,572","33,481",0.18%,5.086
28,28,Sikkim,"32,496","28,723",0.15%,4.363
29,29,Manipur,"31,790","27,870",0.15%,4.233
30,30,Nagaland,-,"27,283",0.14%,4.144
31,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
32,32,Mizoram,"26,503","22,287",0.12%,3.385
33,33,Andaman & Nicobar Islands,-,-,-,-

# Q5. Scrape the details of trending repositories on Github.com.
# Url = https://github.com/
# You have to find the following details:
# A) Repository title
# B) Repository description
# C) Contributors count
# D) Language used
# Note: - From the home page you have to click on the trending option from Explore menu through code.

In [18]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [19]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [20]:
url_5 = "https://github.com/"
driver.get(url_5)

In [21]:
#Let's Import required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

In [22]:
# Finding the element for trending option using xpath and then clicking it
trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute("href"))

In [23]:
# First, Let's create an empty lists to store scraping data

RepositoryTitle = []
RepositoryDescription = [] 
ContributorsCount = [] 
LanguageUsed = []
urls = []

In [25]:
# Let's create a function that will find all the elements of different items using xpath
reptitle = driver.find_elements_by_xpath('//article[@class="Box-row"]/h1/a')
descriptions = driver.find_elements_by_xpath('//article[@class="Box-row"]/p')
for i in [reptitle,descriptions]:
    for j in i:
        if i ==reptitle:
            RepositoryTitle.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==descriptions:
            RepositoryDescription.append(j.text)
            
for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    divlist=driver.find_elements_by_xpath('//div[@class="BorderGrid BorderGrid--spacious"]/div')
    try:
        ContributorsCount.append(((divlist[-2].text).split())[1])
    except:
        ContributorsCount.append("-")
    try:
        LanguageUsed.append(((divlist[-1].text).split())[1::2])
    except:
        LanguageUsed.append("-")

In [26]:
# Import pandas as pd
ques_5 = pd.DataFrame({})
ques_5["Repository Title"] = RepositoryTitle
ques_5["Repository Description"] = RepositoryDescription
ques_5["Contributors Count"] = ContributorsCount
ques_5["Language Used"] = LanguageUsed
ques_5.index+=1

# Details of trending repositories on Github.com
ques_5

,Repository Title,Repository Description,Contributors Count,Language Used
1,peng-zhihui / Dummy-Robot,我的超迷你机械臂机器人项目。,No,"[No, published]"
2,trailofbits / algo,Set up a personal VPN in the cloud,156,"[Python, Jinja, Shell, Other]"
3,Snailclimb / JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,260,[Java]
4,louislam / uptime-kuma,A fancy self-hosted monitoring tool,63,"[JavaScript, Vue, SCSS, Shell, TypeScript, Doc..."
5,vuejs / vue-next,"🖖 Vue.js is a progressive, incrementally-adopt...",280,"[TypeScript, HTML, JavaScript, Other]"
6,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,10,"[JavaScript, Python, HTML]"
7,facebook / flipper,A desktop debugging platform for mobile develo...,219,"[TypeScript, Java, Ruby, Objective-C++, C++, O..."
8,fatedier / frp,A fast reverse proxy to help you expose a loca...,72,"[Go, Vue, JavaScript, Shell, HTML, Makefile, L..."
9,ossrs / srs,"SRS is a simple, high efficiency and realtime ...",64,"[C++, JavaScript, ActionScript, HTML, Shell, P..."
10,vinta / awesome-python,"A curated list of awesome Python frameworks, l...",392,"[Python, Makefile]"
11,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,854,"[Python, Other]"
12,ihciah / clean-dns-bpf,基于 Rust + eBPF 丢弃 GFW DNS 污染包,No,[Rust]
13,sdras / awesome-actions,A curated list of awesome actions to use on Gi...,-,"[280, 269]"
14,Hack-with-Github / Awesome-Hacking,A collection of various awesome lists for hack...,-,"[21, 10]"
15,anncwb / vue-vben-admin,"A modern vue admin. It is based on Vue3, vite ...",72,"[Vue, TypeScript, Less, JavaScript, CSS, HTML]"
16,Python-World / Python_and_the_Web,"Build Bots, Scrape a website or use an API to ...",102,"[Python, TeX, HTML, Other]"
17,wimpysworld / quickemu,"Quickly create and run optimised Windows, macO...",16,"[Shell, Python]"
18,mattiasgustavsson / dos-like,"Engine for making things with a MS-DOS feel, b...",3,"[C, Other]"
19,apache / rocketmq,Mirror of Apache RocketMQ,280,"[Java, Other]"
20,donet5 / WebFirst,.NET CORE 代码生成器 ，Web中使用CodeFirst模式， 实体生成器，UI代码...,-,"[C#, CSS, HTML]"
21,raywenderlich / flta-materials,The projects and the materials that accompany ...,8,"[Dart, Ruby, Swift, HTML, Kotlin, Shell, Objec..."
22,herosi / CTO,Call Tree Overviewer,-,[Python]
23,alibaba / Sentinel,A powerful flow control component enabling rel...,152,"[Java, JavaScript, HTML, CSS, Shell, Dockerfile]"
24,alibaba / spring-cloud-alibaba,Spring Cloud Alibaba provides a one-stop solut...,114,"[Java, Other]"
25,vuejs / vue,"🖖 Vue.js is a progressive, incrementally-adopt...",401,"[JavaScript, Other]"

# Q6. Scrape the details of top 100 songs on billboard.com.
# Url = https://www.billboard.com/
# You have to find the following details:
# A) Song name
# B) Artist name
# C) Last week rank
# D) Peak rank
# E) Weeks on board
# Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [27]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [28]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [29]:
url_6 = "https://www.billboard.com/"
driver.get(url_6)

In [31]:
# Finding the element for Hot 100 songs using xpath
hundred_songs = driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a")

# Clicking the Hot 100 songs
hundred_songs.click()

In [32]:
# First, Let's create an empty lists to store the scraping data

SongName = []
ArtistName = [] 
LastWeekRank = [] 
PeakRank = []
WeeksOnBoard = []

In [33]:
# Finding the element for song name using xpath
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for i in song:
    SongName.append(i.text)

# Finding the element for artist name using xpath
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for i in artist:
    ArtistName.append(i.text)

# Finding the element for last week rank using xpath
lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for i in lastweek:
    LastWeekRank.append(i.text)

# Finding the element for peak rank using xpath
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for i in peak:
    PeakRank.append(i.text)

# Finding the lement for weeks on board using xpath
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in weeks:
    WeeksOnBoard.append(i.text)

In [34]:
# Import pandas as pd
ques_6 = pd.DataFrame({})
ques_6["Song Name"] = SongName
ques_6["Artist Name"] = ArtistName
ques_6["Last Week Rank"] = LastWeekRank
ques_6["Peak Rank"] = PeakRank
ques_6["Weeks On Board"] = WeeksOnBoard
ques_6.index+=1

# Details of top 100 songs on billboard.com
ques_6

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
1,My Universe,Coldplay x BTS,-,1,1
2,Stay,The Kid LAROI & Justin Bieber,1,1,12
3,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
4,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
5,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
96,Pipe Down,Drake,68,14,4
97,Papi's Home,Drake,66,8,4
98,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
99,Toxic Punk,YoungBoy Never Broke Again,-,99,1
100,Moon,Kanye West,76,17,5

# Q7. Scrape the details of Data science recruiters from naukri.com.
# Url = https://www.naukri.com/
# You have to find the following details:
# A) Name
# B) Designation
# C) Company
# D) Skills they hire for
# E) Location
# Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [37]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [38]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [39]:
url_7 = " https://www.naukri.com/"
driver.get(url_7)

In [40]:
# Finding the element for the recruiter option on the search panel using xpath and then clicking it
recruiter = driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute("href"))

In [41]:
# Finding the element for search field designation using xpath 
search_field_designation = driver.find_element_by_xpath("//input[@class='sugInp']")

# Writing Data Science in the search field designation
search_field_designation.send_keys("Data Science")

# Finding the element for search bar using xpath
search_bar = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")

# Clicking the search bar
search_bar.click()

In [42]:
# First, Let's create an empty lists to store the scraping data

Name = []
Designation = [] 
Company = [] 
Skills = [] 
Location = []

In [43]:
# Finding the element for name using xpath
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in name:
    Name.append(i.text)

# Finding the element for designation using xpath
designation = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in designation:
    Designation.append(i.text)

# Finding the name for company using xpath
company = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for i in company:
    Company.append(i.text)

# Finding the name for skill using xpath
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    Skills.append(i.text)

# Finding the element for location using xpath
loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for i in loc:
    try:
        Location.append(i.text)
    except:        
        Location.append("-")

In [46]:
# Import pandas as pd
ques_7 = pd.DataFrame({})
ques_7["Name"] = Name[:49]
ques_7["Designation"] = Designation[:49]
ques_7["Company"] = Company[:49]
ques_7["Skills they Hire for"] = Skills[:49]
ques_7["Location"] = Location[:49]
ques_7.index+=1

# Details of Data science recruiters from naukri.com
ques_7

,Name,Designation,Company,Skills they Hire for,Location
1,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
3,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
5,Narasimha,Company Recruiter,Step Next Private Limited,"Data Modeling, Data Wrangling, seaborn, eda, p...",Hyderabad / Secunderabad
6,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
13,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
14,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
15,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
16,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
17,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
18,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Ghaziabad
35,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Bengaluru / Bangalore
36,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
37,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
38,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
39,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
40,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
41,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
42,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
43,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
44,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
45,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
46,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
47,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
48,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
49,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

# Q8. Scrape the details of Highest selling novels.
# Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/
# You have to find the following details:
# A) Book name
# B) Author name
# C) Volumes sold
# D) Publisher
# E) Genre

In [47]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [53]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [54]:
url_8 = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url_8)

In [55]:
# First, Let's create an empty lists to store the scraping data

BookName = [] 
AuthorName = [] 
VolumesSold = []
Publisher = [] 
Genre = []

In [56]:
# Finding the element for book name using xpath
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book:
    BookName.append(i.text)

# Finding the element for author name using xpath
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author:
    AuthorName.append(i.text)

# Finding the element for volumes sold using xpath
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol:
    VolumesSold.append(i.text)

# Finding the element for publisher using xpath
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    Publisher.append(i.text)

# Finding the element for genre using xpath
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    Genre.append(i.text)

In [57]:
# Import pandas as pd
ques_8 = pd.DataFrame({})
ques_8["Book Name"] = BookName
ques_8["Author Name"] = AuthorName
ques_8["Volumes Sold"] = VolumesSold
ques_8["Publisher"] = Publisher
ques_8["Genre"] = Genre
ques_8.index+=1

# Details of Highest selling novels
ques_8

,Book Name,Author Name,Volumes Sold,Publisher,Genre
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Q9. Scrape the details most watched tv series of all time from imdb.com.
# Url = https://www.imdb.com/list/ls095964455/
# You have to find the following details:
# A) Name
# B) Year span
# C) Genre
# D) Run time
# E) Ratings
# F) Votes

In [58]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [75]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [76]:
url_9 = " https://www.imdb.com/list/ls095964455/"
driver.get(url_9)

In [77]:
# First, Let's create an empty lists to store the scraping data

Name = []
YearSpan = [] 
Genre = [] 
RunTime = [] 
Ratings = [] 
Votes = []

In [78]:
# Finding the element for names using xpath
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in name:
    Name.append(i.text)
    
# Finding the elements for year span using xpath
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    YearSpan.append(i.text)
    
# Finding the elements for genre using xpath
gen = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in gen:
    Genre.append(i.text)

# Finding the elements for runtime using xpath
runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in runtime:
    RunTime.append(i.text)

# Finding the elements for ratings using xpath 
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for i in ratings:
    Ratings.append(i.text)

# Finding the elements for votes using xpath
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    Votes.append(i.text)

In [79]:
# Import pandas as pd
ques_9 = pd.DataFrame({})
ques_9["Name"] = Name
ques_9["Year Span"] = YearSpan
ques_9["Genre"] = Genre
ques_9["Run Time"] = RunTime
ques_9["Ratings"] = Ratings
ques_9["Votes"] = Votes
ques_9.index+=1

# Details of most watched tv series of all time from imdb.com
ques_9

,Name,Year Span,Genre,Run Time,Ratings,Votes
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,882,535"
2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"915,910"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"904,352"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,916"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,311"
...,...,...,...,...,...,...
96,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,899"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,773"
98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,344"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,886"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"203,730"

# Q10. Details of Datasets from UCI machine learning repositories.
# Url = https://archive.ics.uci.edu/
# You have to find the following details:
# A) Dataset name
# B) Data type
# C) Task
# D) Attribute type
# E) No of instances
# F) No of attribute
# G) Year
# Note: - from the home page you have to go to the Show All Dataset page through code.

In [80]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [81]:
# Let's first connect with the web driver
driver = webdriver.Chrome(r"C:\Users\Sudhanshu Kumar\Downloads\chromedriver_win32\chromedriver.exe")

In [82]:
url_10 = "https://archive.ics.uci.edu/"
driver.get(url_10)

In [83]:
# Finding the elements for view all dataset using xpath
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")

# Getting the required dataset element 
driver.get(dataset.get_attribute("href"))

In [84]:
# First, Let's create an empty lists to store the scraping data

DatasetName = [] 
DataType = []
Task = [] 
AttributeType = [] 
NoOfInstances = [] 
NoOfAttribute = [] 
Year = []

In [90]:
# Finding the element for Dataset name using xpath
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for i in name:
    DatasetName.append(i.text)
    
names = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for i in names:
    DatasetName.append(i.text)
    
# Finding the element for datatype using xpath 
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for i in datatype:
    DataType.append(i.text)

datatype_1 = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for i in datatype_1:
    DataType.append(i.text)
    
# Finding the element for task using xpath
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for i in task:
    Task.append(i.text)
    
task_1 = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for i in task_1:
    Task.append(i.text)
    
# Finding the element for attribute using xpath
att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for i in att:
    AttributeType.append(i.text)
    
attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for i in attr:
    AttributeType.append(i.text)

# Finding the element for number of instances using xpath
noi = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for i in noi:
    NoOfInstances.append(i.text)

noi_1 = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for i in noi_1:
    NoOfInstances.append(i.text)
    
# Finding the element for number of attributes using xpath
noa = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for i in noa:
    NoOfAttribute.append(i.text)

noa_1 = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for i in noa_1:
    NoOfAttribute.append(i.text)
    
# Finding the element for year using xpath
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for i in year:
    Year.append(i.text)
    
yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for i in yr:
    Year.append(i.text)

In [95]:
# Import pandas as pd
ques_10 = pd.DataFrame({})
ques_10["Dataset Name"] = DatasetName[:295]
ques_10["Data Type"] = DataType[:295]
ques_10["Task"] = Task[:295]
ques_10["Attribute Type"] = AttributeType[:295]
ques_10["No of Instances"] = NoOfInstances[:295]
ques_10["No of Attribute"] = NoOfAttribute[:295] 
ques_10["Year"] = Year[:295]
ques_10.index+=1

# Details of Datasets from UCI machine learning repositories
ques_10

,Dataset Name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
3,Abalone,Multivariate,Classification,"Categorical, Integer",48842,14,1996
4,Abalone,Multivariate,Classification,Categorical,37711,294,1998
5,Abalone,,Recommender-Systems,"Categorical, Integer, Real",6000,7,1992
...,...,...,...,...,...,...,...
291,Gender by Name,Multivariate,Classification,"Integer, Real",1197,15,2020
292,Unmanned Aerial Vehicle (UAV) Intrusion Detection,"Multivariate, Time-Series","Classification, Regression",,7624,7842,2020
293,LastFM Asia Social Network,Multivariate,Classification,Real,10000,14,2020
294,Productivity Prediction of Garment Employees,"Multivariate, Time-Series","Classification, Regression, Causal-Discovery",,12684,23,2020
295,LastFM Asia Social Network,Multivariate,Classification,Real,731,1068,2021